<stlye> 
body {
  background-color: purple;
}

h2 {
  color: gold;
  text-align: center;
  font-size: 50px;
  letter-spacing: -4px;
  text-shadow: 2px 2px 5px lightblue;
}

img {
  border: dotted lightblue 12px;
  
}

img:hover {
  border: dotted lightblue 12px;
}
img {
  img: 100px
}

nav {
  list-style-type: none;
  background-color: teal; 
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 9px;
}

a{
  color: white;
  text-decoration: none;
}

li{
  display: inline;
  padding: 10px;
  
}

li:hover {
  background-color: red;
}
